<div class="container">
  <div layout="row" >
    <form class="example-container" [formGroup]="settingsForm">
      <mat-form-field>
        <mat-select
          placeholder="Country"
          (selectionChange)="changeCountry($event.value, 'country')"
          [(value)]="selected.country"
          multiple>

          <mat-option [value]="country.name" *ngFor="let country of countries">{{country.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Temperature"
                    (selectionChange)="changeCountry($event.value, 'temperature')"
                    [(value)]="selected.temperature"
                    multiple>
          <mat-option><input [(ngModel)]="valueTest"></mat-option>
          <mat-option *ngFor="let temperature of temperatures" [value]="temperature.id">{{temperature.value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Weather"
                    (selectionChange)="changeCountry($event.value, 'weather')"
                    [(value)]="selected.weather" multiple>
          <mat-option [value]="weather.value" *ngFor="let weather of weathers" >{{weather.value}}</mat-option>
        </mat-select>
      </mat-form-field>

    </form>


  </div>
</div>

